<%= form_with(model: question, local: true) do |form| %>

<div class="field">
  
<%= form.label :text %><br>
<%= form.text_field :text %>
<%= form.hidden_field :topic_id, value: params[:topic_id].to_i %>
<%= form.hidden_field :user_id, value: current_user.id %>
</div>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
